terraform {
  required_providers {
    opensearch = {
      source  = "opensearch-project/opensearch"
      version = "2.2.0"
    }
  }
}

# Configure the OpenSearch provider
provider "opensearch" {
  url      = "https://opensearch-test1:9200"
  username = "admin"
  password = ""
  insecure = true
}
