certifi==2026.5.20
charset-normalizer==3.4.7
Events==0.5
grpcio==1.81.1
idna==3.18
opensearch-protobufs==1.2.0
opensearch-py==3.2.0
protobuf==7.35.1
python-dateutil==2.9.0.post0
requests==2.34.2
six==1.17.0
typing_extensions==4.15.0
urllib3==2.7.0
